<!DOCTYPE html>
<html>
  <head>
    <title>Researcher Publication Data: Home</title>
  </head>
  <body>
    <a rel="homepage" href="/"><h1>Researcher Publication Data</h1></a>

    <div itemscope itemtype="http://schema.or/Person">
      <a rel="all researchers" itemprop="url" href="/researchers/"><h2>List of researchers</h2></a>
    <div>
    <div itemscope itemtype="http://schema.or/ScholarlyArticle">
      <a rel="all publications" itemprop="url" href="/publications/"><h2>List of publications</h2></a>
    <div>
  </body>
</html>
